{% load static %}
<!-- <section class="our-client sec-padding">
	<div class="thm-container">
		<div class="sec-title">
			<h2><span>our clients</span></h2>
		</div>
		<div class="client-carousel">
			<div class="owl-carousel owl-theme">
				{% for client in clients %}
				<div class="item">
					<img src="{{client.client_image.url }}" alt="Awesome Image"/>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section> -->

<!-- ########## client section ########## -->
<div class="brand-carousel section-padding owl-carousel">
{% for client in clients %}
	<div class="single-logo">
	  <img src="{{ client.client_image.url }}" alt="">
	</div>
{% endfor %}
  </div>
  
  
  
<section class="footer-top aboutfooter">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-6">
					<h3>HAMD Shipping</h3>
					<p>Contact us now to get quote for all your global <br>shipping and cargo need.</p>
				</div>
				<div class="col-md-6">
					<a class="thm-btn footercontact" href="{% url 'web:contact' %}">Contact Us <i
							class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>


<footer id="footer" class="sec-padding">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-3 col-sm-6 footer-widget">
				<div class="about-widget">
					<a href="#"><img class="footerlogo" src="{% static 'images/whitelogo.png' %}" alt="Awesome Image" /></a>
{% for about in about %}
					<p class="footerabout">{{ about.about }}</p>
{% endfor %}
					<a href="{% url 'web:about' %}">Read More <i class="fa fa-angle-double-right"></i></a>
					<ul class="social">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 footer-widget">
				<div class="pl-30">
					<div class="title">
						<h3><span>Our Services</span></h3>
					</div>
					<ul class="link-list">
						{% for service in service %}
						<li><a href="{% url 'web:service' %}">{{ service.service_title }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="col-md-2 col-sm-6 footer-widget">
				<div class="title">
					<h3><span>Quick Links</span></h3>
				</div>
				<ul class="link-list">
					<li><a href="{% url 'web:index' %}">Home</a></li>
					<li><a href="{% url 'web:service' %}">Our Services</a></li>
					<li><a href="{% url 'web:about' %}">About Us</a></li>

					<li><a href="{% url 'web:contact' %}">Contact Us</a></li>
				</ul>
			</div>
			<div class="col-md-4 col-sm-6 footer-widget">
				<div class="title">
					<h3><span>Address</span></h3>
				</div>
				{% for address in address %}
				<ul class="contact-infos">

					<li>
						<div class="icon-box">
							<i class="fa fa-map-marker"></i>
						</div>
						<div class="text-box">
							<p><b>{{ address.company_name }}</b> <br>
								{{ address.company_address }}</p>
						</div>
					</li>
					<li>
						<div class="icon-box">
							<i class="fa fa-phone"></i>
						</div>
						<div class="text-box">
							<p>{{ address.phone_number_1 }} / {{ address.phone_number_2 }}</p>
						</div>
					</li>
					<li>
						<div class="icon-box">
							<i class="fa fa-envelope-o"></i>
						</div>
						<div class="text-box">
							<p>{{ address.company_email }}</p>
						</div>
					</li>
					<!-- <li>
						<div class="icon-box">
							<i class="icon icon-Timer"></i>
						</div>
						<div class="text-box">
							<p>Monday - Friday : 8.00 - 19.00</p>
						</div>
					</li> -->
				</ul>
				{% endfor %}
			</div>
		</div>
	</div>
</footer>

<section class="bottom-bar">
	<div class="thm-container clearfix">
		<div class="pull-left">
			<p>Copyright © HAMD Shipping 2022. All rights reserved.</p>
		</div>
		<div class="pull-right">
			<p>Designed By: Gedexo Technologies LLP</p>
		</div>
	</div>
</section>