{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}

<section class="inner-banner">
	<div class="thm-container">
		<h2>About us</h2>
		<ul class="breadcumb">
			<li><a href="{% url 'web:index' %}"><i class="fa fa-home"></i> Home</a></li>
			<li><span>About Us</span></li>
		</ul>
	</div>
</section>


<section class="featured-services about-page">
	{% for about in about %}
	<div class="thm-container">
		<div class="sec-title">
			<h2><span>Who We Are</span></h2>
			<p>{{ about.about }}</p>
		</div>
		<div class="row">
			<div class="col-md-8 featured-service-box">
				<div class="col-md-12 col-sm-12">
					<div class="single-featured-service">
						<header>
							
							<div class="title-box">
								<h3><span>Our Vision</span></h3>
							</div>						
						</header>
						<article>
							<p>{{ about.vision_description }}</p>
						</article>
					</div>
				</div>
				<div class="col-md-12 col-sm-12">
					<div class="single-featured-service">
						<header>
							
							<div class="title-box">
								<h3><span>Our Mission</span></h3>
							</div>						
						</header>
						<article>
							<p>{{ about.mission_description }}</p>
						</article>
					</div>
				</div>
				<div class="col-md-12 col-sm-12">
					<div class="single-featured-service">
						<header>
							
							<div class="title-box">
								<h3><span>Core Values</span></h3>
							</div>						
						</header>
						<article>
							<ul>
								<li>Transparency</li>
								<li>Honesty</li>
								<li>Adaptability</li>
								<li>Team work</li>
								<li>Support</li>
								<li>Integrity</li>
								<li>Trust</li>
							</ul>
						</article>
					</div>
				</div>
				
			</div>
			<div class="col-md-4 hidden-sm">
				<div class="left-full-img">
					<img src="{% static 'images/left-full-image.jpg' %}" alt="Awesome Image"/>
				</div>
			</div>
		</div>
	</div>
{% endfor %}

</section>

<section class="call-to-action ">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-7 hidden-xs hidden-sm">
				<div class="right-full-image">
					<img src="{% static 'images/call-to-action/1.png' %}" alt="Awesome Image"/>
				</div>
			</div>
			<div class="col-md-5">
				<div class="call-to-action-text">
					<h3>Reach your destination <br>100% sure and safe</h3>
					<p>We believe our customers deserve greater transparency in their dealings with their freight forwarders, no hidden charges, and a more flexible approach. We are driven by highly experienced industry professionals who find passion in their work.</p>
					<a href="{% url 'web:service' %}" class="thm-btn servicebtn">View services <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>











{% endblock %}