{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}
{% for banner in banner|slice:":1" %}
<section class="text-rotator-banner thm-banner-wrapper style-two" style="background-image: url({{ banner.Banner_image.url }});background-position: center left;">
	<div class="thm-container">
		<div class="col-lg-6 col-md-8 pull-right caption-wrapper">
			<div class="caption-h1">
				WE PROVIDE
				<div class="type-wrap">
                	<div class="typed-strings">
                    	<p>{{ banner.Banner_title }}</p>
                        
                    </div>
                    <span class="typed"></span>
                </div><br>SUPPORT FOR YOUR IDEAS
			</div>
			<span class="horiz-border"></span>
			<div class="caption-p">
				{{ banner.Banner_description}}
			</div>
		</div>
	</div>
</section>

<section class="welcome-text">
	<div class="thm-container">
		<div class="title-box text-right">
			<h3>We offer <br></h3>
		</div>
		<div class="text-box">
			<p>Hamd shipping provides a variety of services to our clients like Sea freight export (FCL&LCL), Sea freight import (FCL&LCL) Air freight import & export, local deliveries, Express courier, land transport, Reefer cargo, Cross trade, and many more. 
			</p>
		</div>
	</div>
</section>
{% endfor %}
<section class="welcome-services">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-6 col-lg-6">
				<div class="welcome-single-services">
					<div class="img-box">
						<img src="{% static 'images/welcome-services/1.jpg' %}" alt="">
					</div>
					<div class="text-box">
						<div class="content">
							<h3>Air Fright </h3>
							<p>HAMD shipping develops comprehensive airfreight service plans tailored to meet our customers' specific requirements.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-6">
				<div class="welcome-single-services">
					<div class="img-box">
						<img src="{% static 'images/welcome-services/2.jpg' %}" alt="">
					</div>
					<div class="text-box">
						<div class="content">
							<h3>Sea frieght</h3>
							<p>Sea freight is the choice for large / heavy and bulky international shipments. HAMD offers a full range of ocean freight services under one roof.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-6">
				<div class="welcome-single-services">
					<div class="img-box">
						<img src="{% static 'images/welcome-services/3.jpg' %}" alt="">
					</div>
					<div class="text-box">
						<div class="content">
							<h3>Cross Trade shipments</h3>
							<p>If you want to send your goods from an overseas origin
								to an overseas destination without connecting your home
								</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-6">
				<div class="welcome-single-services">
					<div class="img-box">
						<img src="{% static 'images/welcome-services/4.jpg' %}" alt="">
					</div>
					<div class="text-box">
						<div class="content">
							<h3>Express Courier</h3>
							<p>We provide end to end service for your express shipments.
								Be it a document or an urgent item to be delivered in the far
								east or western detinations, we provide reliable soultions to
								solve your problem.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 service-text">
				
<!-- link service -->	<center><a href="{% url 'web:service' %}" class="thm-btn moreservice">More <i class="fa fa-arrow-circle-right"></i></a></center>				
			</div>
		</div>
	</div>
</section>

<section class="call-to-action">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-7 hidden-xs hidden-sm">
				<div class="right-full-image">
					<img src="{% static 'images/call-to-action/1.png' %}" alt="Awesome Image"/>
				</div>
			</div>
			<div class="col-md-5">
				<div class="call-to-action-text">
					<h3>Reach your destination <br>100% sure and safe</h3>
					<p>We believe our customers deserve greater transparency in their dealings with their freight forwarders, no hidden charges, and a more flexible approach. We are driven by highly experienced industry professionals who find passion in their work.</p>
					<a href="{% url 'web:service' %}" class="thm-btn">View services <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- <section class="featured-services">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-8 featured-service-box">
				<div class="col-md-6 col-sm-6">
					<div class="single-featured-service">
						<header>
							<div class="icon-box">
								<i class="flaticon-commercial15"></i>
							</div>
							<div class="title-box">
								<h3><span>Contract logistics</span></h3>
							</div>						
						</header>
						<article>
							<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipis civelit sed quia non numquam eius modi.</p>
						</article>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="single-featured-service">
						<header>
							<div class="icon-box">
								<i class="flaticon-woman93"></i>
							</div>
							<div class="title-box">
								<h3><span>Consulting Services</span></h3>
							</div>						
						</header>
						<article>
							<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipis civelit sed quia non numquam eius modi.</p>
						</article>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="single-featured-service">
						<header>
							<div class="icon-box">
								<i class="flaticon-airplane68"></i>
							</div>
							<div class="title-box">
								<h3><span>Reaching Large Destinations</span></h3>
							</div>						
						</header>
						<article>
							<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipis civelit sed quia non numquam eius modi.</p>
						</article>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="single-featured-service">
						<header>
							<div class="icon-box">
								<i class="flaticon-delivery18"></i>
							</div>
							<div class="title-box">
								<h3><span>Goods Tracking Support</span></h3>
							</div>						
						</header>
						<article>
							<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipis civelit sed quia non numquam eius modi.</p>
						</article>
					</div>
				</div>
			</div>
			<div class="col-md-4 hidden-sm">
				<div class="left-full-img">
					<img src="images/left-full-image.jpg" alt="Awesome Image"/>
				</div>
			</div>
		</div>
	</div>
</section> -->


<section class="faq-section sec-padding">
	<div class="thm-container">
		{% for about in about %}
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="sec-title">
					<h2><span>some of our core values</span></h2>
				</div>
				<div class="accrodion-grp" data-grp-name="faq-accrodion">
					<div class="accrodion active">
						<div class="accrodion-title">
							<h4>Our Mission</h4>
						</div>

						<div class="accrodion-content">
							<div class="img-caption">
								<div class="img-box">
									<img src="/media/{{ about.mission_image }}" alt="Awesome Image"/>
								</div>
								<div class="content-box">
									
									<p>{{ about.mission_description }}</p>
									
								</div>
							</div>
						</div>

					</div>
					<div class="accrodion ">
						<div class="accrodion-title">
							<h4>Our Vision</h4>
						</div>
						<div class="accrodion-content">
							<div class="img-caption">
								<div class="img-box">
									<img src="/media/{{ about.vision_image }}" alt="Awesome Image"/>
								</div>
								<div class="content-box">
								
									<p>{{ about.vision_description }}</p>
									
								</div>
							</div>
						</div>
					</div>
					<div class="accrodion">
						<div class="accrodion-title">
							<h4>Our About</h4>
						</div>
						<div class="accrodion-content">
							<div class="img-caption">
								<div class="img-box">
									<img src="/media/{{ about.About_img }}" alt="Awesome Image"/>
								</div>
								<div class="content-box">
									
									<p>{{ about.about }}</p>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	{% endfor %}
	</div>
</section>



<section class="request-qoute sec-padding">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-6">
				<div class="sec-title">
					<h2><span>Testimonials</span></h2>
				</div>


				<div class="testimonial-box with-carousel">
					<div class="owl-carousel owl-theme">

						{% for testimonial in testimonial %}
						<div class="item">
							<div class="content-box">
								<div class="top">
									<div class="qoute-box">
										“							
									</div>
									<div class="title">
										
									</div>
								</div>						
								<div class="content">							
									<p>{{ testimonial.quote }}</p>
									<span>{{ testimonial.person }}( {{ testimonial.post }} )</span>
									<img src="/media/{{ testimonial.person_img }}" alt="">
								</div>
							</div>
						</div>
						
						{% endfor %}
						
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="sec-title">
					<h2><span>request a quote</span></h2>
				</div>
				<form action=" " method="post" class="contact-form">
					{% csrf_token %}
					<div class="form-grp full">
						<input type="text" name="name" placeholder="Name">
					</div>
					<div class="form-grp full">
						<input type="text" name="email" placeholder="Email*">
					</div>
					<div class="form-grp full">
						<input type="text" placeholder="Subject" name="subject">
					</div>
					<div class="form-grp">
						<textarea name="message" placeholder="Message"></textarea>
					</div>
					<button type="submit" class="thm-btn Submit">Submit Now <i class="fa fa-arrow-circle-right"></i></button>
				</form>
			</div>
		</div>
	</div>
</section>

<!-- <section class="team-section sec-padding">
	<div class="thm-container">
		<div class="sec-title">
			<h2><span>our team members</span></h2>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="single-team-member img-cap-effect">
					<div class="img-box">
						<img src="images/team/1.jpg" alt="Awesome Image"/>
						<div class="img-caption">
							<div class="box-holder">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="content">
						<div class="name-box">
							<h3>Jenefir White</h3>
							<span>Supervisor</span>
						</div>
						<p>Lorem ipsum dolor sit ametetd consectetur adipiscing elit.</p>
					</div>
					<a href="#" class="readmore">CONTACT ME <i class="fa fa-long-arrow-right"></i></a>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="single-team-member img-cap-effect">
					<div class="img-box">
						<img src="images/team/2.jpg" alt="Awesome Image"/>
						<div class="img-caption">
							<div class="box-holder">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="content">
						<div class="name-box">
							<h3>Jenefir White</h3>
							<span>Supervisor</span>
						</div>
						<p>Lorem ipsum dolor sit ametetd consectetur adipiscing elit.</p>
					</div>
					<a href="#" class="readmore">CONTACT ME <i class="fa fa-long-arrow-right"></i></a>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="single-team-member img-cap-effect">
					<div class="img-box">
						<img src="images/team/3.jpg" alt="Awesome Image"/>
						<div class="img-caption">
							<div class="box-holder">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="content">
						<div class="name-box">
							<h3>Jenefir White</h3>
							<span>Supervisor</span>
						</div>
						<p>Lorem ipsum dolor sit ametetd consectetur adipiscing elit.</p>
					</div>
					<a href="#" class="readmore">CONTACT ME <i class="fa fa-long-arrow-right"></i></a>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="single-team-member img-cap-effect">
					<div class="img-box">
						<img src="images/team/4.jpg" alt="Awesome Image"/>
						<div class="img-caption">
							<div class="box-holder">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="content">
						<div class="name-box">
							<h3>Jenefir White</h3>
							<span>Supervisor</span>
						</div>
						<p>Lorem ipsum dolor sit ametetd consectetur adipiscing elit.</p>
					</div>
					<a href="#" class="readmore">CONTACT ME <i class="fa fa-long-arrow-right"></i></a>
				</div>
			</div>
		</div>			
	</div>
</section> -->


<!-- <section class="fact-counter sec-padding">
	<div class="thm-container">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="single-fact-counter">
					<div class="icon-box">
						<i class="icon icon-User"></i>
					</div>
					<div class="text-box">
						<h4 class="timer" data-from="0" data-to="250"></h4>
						<p>Emploies in Team</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="single-fact-counter">
					<div class="icon-box">
						<i class="icon icon-BigTruck"></i>
					</div>
					<div class="text-box">
						<h4 class="timer" data-from="0" data-to="106"></h4>
						<p>Company Vihicles</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="single-fact-counter">
					<div class="icon-box">
						<i class="icon icon-WorldGlobe"></i>
					</div>
					<div class="text-box">
						<h4 class="timer" data-from="0" data-to="406"></h4>
						<p>Worldwide Clients</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="single-fact-counter">
					<div class="icon-box">
						<i class="icon icon-Briefcase"></i>
					</div>
					<div class="text-box">
						<h4 class="timer" data-from="0" data-to="308"></h4>
						<p>Projects Done</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> -->

{% endblock %}