{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}
<section class="inner-banner">
	<div class="thm-container">
		<h2>{{single_service.service_title}}</h2>
		<ul class="breadcumb">
			<li><a href="{% url 'web:index' %}"><i class="fa fa-home"></i> Home</a></li>
			<li><span>{{single_service.service_title}}</span></li>
		</ul>
	</div>
</section>


<section class="sec-padding single-service-page">
	<div class="thm-container">
		
<div class="row">
	<div class="col-md-6 col-lg-6">
		<div class="image-box clearfix">
			<img class="servicedetails" src="{{single_service.service_image.url}}" alt="Awesome Image" />

		</div>
	</div>
	<div class="col-md-6 col-lg-6 sec-title">
		<h2><span>{{single_service.service_title}}</span></h2>
		<p>{{single_service.service_description|safe}}</p>
	</div>
	</div>
</section>



	
{% endblock %}